@charset "UTF-8";
/* line 1, style.scss */
#wpadminbar {
  display: none !important;
}

/****************************************

	CSS RESET

****************************************/
/* line 65, style.scss */
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

/* line 65, style.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 65, style.scss */
body {
  line-height: 1;
}

/* line 65, style.scss */
ol, ul {
  list-style: none;
}

/* line 65, style.scss */
blockquote, q {
  quotes: none;
}

/* line 65, style.scss */
blockquote:after, blockquote:before, q:after, q:before {
  content: '';
  content: none;
}

/* line 65, style.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/****************************************

	FONTS

****************************************/
@font-face {
  font-family: "News Plantin";
  font-weight: normal;
  font-style: normal;
  src: url("../assets/fonts/News Plantin.woff2") format("woff2"), url("../assets/fonts/News Plantin.woff") format("woff");
}
@font-face {
  font-family: "News Plantin";
  font-weight: normal;
  font-style: italic;
  src: url("../assets/fonts/News Plantin Italic.woff2") format("woff2"), url("../assets/fonts/News Plantin Italic.woff") format("woff");
}
@font-face {
  font-family: "News Plantin";
  font-weight: bold;
  font-style: normal;
  src: url("../assets/fonts/News Plantin Bold.woff2") format("woff2"), url("../assets/fonts/News Plantin Bold.woff") format("woff");
}
@font-face {
  font-family: "News Plantin";
  font-weight: bold;
  font-style: italic;
  src: url("../assets/fonts/News Plantin Bold Italic.woff2") format("woff2"), url("../assets/fonts/News Plantin bold Italic.woff") format("woff");
}
@font-face {
  font-family: "Univers";
  font-weight: normal;
  font-style: normal;
  src: url("../assets/fonts/universltstd-webfont.woff2") format("woff2"), url("../assets/fonts/universltstd-webfont.woff") format("woff");
}
@font-face {
  font-family: "Univers";
  font-weight: normal;
  font-style: italic;
  src: url("../assets/fonts/universltstd-obl-webfont.woff2") format("woff2"), url("../assets/fonts/universltstd-obl-webfont.woff") format("woff");
}
@font-face {
  font-family: 'stix';
  src: url("../assets/fonts/stixgeneral-webfont.woff2") format("woff2"), url("../assets/fonts/stixgeneral-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'mtdwingdings';
  src: url("../assets/fonts/wingdings-webfont.woff2") format("woff2"), url("../assets/fonts/wingdings-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/****************************************

	GENERAL

****************************************/
/* line 143, style.scss */
#mobile_screen {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../assets/img/mobile_bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: none;
}
/* line 158, style.scss */
#mobile_screen img {
  width: 100%;
  height: auto;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

/* line 167, style.scss */
html {
  width: 100%;
  height: 100%;
  -webkit-overflow-scrolling: auto;
}

/* line 177, style.scss */
body {
  width: calc( 100% + 2px );
  left: -1px;
  height: auto;
  -webkit-overflow-scrolling: auto;
  font-family: "Univers", sans-serif;
  font-size: 18px;
  line-height: 1.28;
  position: absolute;
  overflow-x: hidden;
  color: #212121;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fffef8;
  margin: 0;
}

/* line 196, style.scss */
a, a:visited {
  text-decoration: none;
  color: #2962FF;
}

/* line 201, style.scss */
a.external_link {
  color: #212121;
  border-bottom: 1px solid black;
  word-wrap: break-word;
}

/* line 207, style.scss */
section {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  position: relative;
  background-color: #fffef8;
}

/* line 217, style.scss */
.content_wrapper {
  max-width: 1224px;
  width: calc( 100% - 142px );
  margin: 0 auto 36px auto;
  padding-top: 96px;
}

/* line 225, style.scss */
.content_wrapper p {
  margin-bottom: 18px;
}

/* line 229, style.scss */
h1 {
  font-size: 3em;
  line-height: 1.1;
}
@media (max-width: 880px) {
  /* line 229, style.scss */
  h1 {
    font-size: 6.1vw;
  }
}
@media (max-width: 768px) {
  /* line 229, style.scss */
  h1 {
    font-size: 2.67em;
  }
}

/* line 240, style.scss */
h2 {
  font-size: 2em;
  line-height: 1.28;
}

/* line 245, style.scss */
h3 {
  font-size: 1.333em;
  line-height: 1.25;
}

/* line 250, style.scss */
h4 {
  line-height: 1.15;
  text-transform: uppercase;
}

/* line 257, style.scss */
h5 {
  text-transform: uppercase;
}

/* line 261, style.scss */
i, em {
  font-style: italic;
}

/* line 265, style.scss */
.sansserif {
  letter-spacing: 0.3px;
  line-height: 1.39;
}

/* line 270, style.scss */
.serif {
  line-height: 1.39;
  letter-spacing: 0.1px;
}
/* line 273, style.scss */
.serif i, .serif em {
  font-size: 1.1em;
}

/* line 278, style.scss */
h4 i, h4 em,
h5 i, h5 em {
  font-size: 1em;
}

/* line 283, style.scss */
b, strong {
  font-weight: bold;
}

/* line 287, style.scss */
.footnote_link {
  font-family: "Univers", sans-serif;
  vertical-align: super !important;
  font-size: 0.7em;
  letter-spacing: 0px;
  line-height: 0;
  cursor: pointer;
  letter-spacing: 0;
  margin-left: 4px;
}

/* line 299, style.scss */
.small_font {
  font-size: 0.78em;
  line-height: 1.42;
  letter-spacing: 0;
}

/* line 305, style.scss */
.uppercase {
  text-transform: uppercase;
}

/* line 309, style.scss */
.mtd_column {
  width: calc( 50% - 36px );
  display: inline-block;
  vertical-align: top;
  position: relative;
}
@media (max-width: 768px) {
  /* line 309, style.scss */
  .mtd_column {
    width: 100%;
    display: block;
  }
}

/* line 322, style.scss */
#foreword_wrapper,
#contents_wrapper,
#colophon_wrapper,
#editor_wrapper .content_wrapper,
.intro_column_right .column_contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 768px) {
  /* line 322, style.scss */
  #foreword_wrapper,
  #contents_wrapper,
  #colophon_wrapper,
  #editor_wrapper .content_wrapper,
  .intro_column_right .column_contents {
    display: block;
    width: calc( 100% - 36px );
  }
}

/* line 335, style.scss */
#loading {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #fffef8;
}

/****************************************

	INTRO

****************************************/
/* line 352, style.scss */
.top_level_wrapper {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  overflow-x: hidden;
  display: none;
}

/* line 364, style.scss */
#intro_scroll_wrapper {
  height: auto;
  position: relative;
  overflow-x: hidden;
}
/* line 370, style.scss */
#intro_scroll_wrapper #intro_sections {
  margin-top: -60px;
}
/* line 373, style.scss */
#intro_scroll_wrapper section {
  min-height: 100vh;
}
/* line 375, style.scss */
#intro_scroll_wrapper section .scroll_target {
  height: 100vh;
  position: absolute;
  bottom: 0;
}
/* line 381, style.scss */
#intro_scroll_wrapper #video_section {
  height: 100vh;
  -webkit-transition: height 0s;
  transition: height 0s;
}

/* line 387, style.scss */
#article_scroll_wrapper {
  background-color: #fffef8;
  position: fixed;
  overflow-x: hidden;
  min-height: 100vh;
  height: auto;
  width: 100%;
  -webkit-overflow-scrolling: touch;
  opacity: 0;
}

/* line 399, style.scss */
#editor_scroll_wrapper {
  min-height: 100vh;
  -webkit-overflow-scrolling: touch;
  opacity: 0;
}

/* line 405, style.scss */
#intro_nav_wrapper {
  position: relative;
  top: -60px;
  height: 60px;
}

/* line 411, style.scss */
#intro_nav {
  -webkit-transition: background-color .5s;
  transition: background-color .5s;
  z-index: 999;
  width: 100.5%;
  height: 60px;
  text-transform: uppercase;
  font-size: 0.89em;
  letter-spacing: 0;
}
/* line 420, style.scss */
#intro_nav span {
  display: inline-block;
  position: absolute;
  top: 45%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
@media (max-width: 768px) {
  /* line 420, style.scss */
  #intro_nav span {
    display: none;
  }
}
/* line 430, style.scss */
#intro_nav ul {
  height: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/* line 435, style.scss */
#intro_nav ul li {
  display: inline-block;
  margin: 0 32px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
@media (max-width: 960px) {
  /* line 435, style.scss */
  #intro_nav ul li {
    margin: 0 16px;
  }
}
@media (max-width: 768px) {
  /* line 435, style.scss */
  #intro_nav ul li {
    display: none;
  }
}
/* line 447, style.scss */
#intro_nav #intro_nav_mobile {
  position: absolute;
  top: 20px;
  left: 0;
  width: 100%;
  text-align: center;
  opacity: 0;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
  display: none;
}
@media (max-width: 768px) {
  /* line 447, style.scss */
  #intro_nav #intro_nav_mobile {
    display: block;
  }
}

/* line 463, style.scss */
#video_section {
  background-color: transparent;
  -webkit-transition: height 1s, min-height 1s;
  transition: height 1s, min-height 1s;
}

/* line 468, style.scss */
#intro_nav a {
  color: #757575;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}

/* line 473, style.scss */
.stuck {
  position: fixed !important;
  top: 0;
}

/* line 478, style.scss */
#intro_nav_left {
  left: 32px;
}

/* line 482, style.scss */
#intro_nav_right {
  right: 30px;
  width: 30px;
  height: 30px;
}
/* line 486, style.scss */
#intro_nav_right img {
  width: 100%;
  height: 100%;
}

/* line 492, style.scss */
.intro_content {
  min-height: 100vh;
  font-size: 1.8em;
  line-height: 1.28;
  letter-spacing: 0;
}

/* line 499, style.scss */
.intro_wrapper > p {
  width: 33%;
}

/* line 503, style.scss */
video#introvid {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background: url("../assets/img/video_fallback.jpg") no-repeat;
  background-size: cover;
}

/* line 520, style.scss */
#foreword_wrapper {
  width: 100%;
}
/* line 522, style.scss */
#foreword_wrapper .foreword_text {
  position: relative;
  max-width: 1224px;
  width: calc( 100% - 142px );
  margin: 0% auto 32px auto;
  -webkit-column-count: 2;
          column-count: 2;
  -webkit-column-gap: 72px;
          column-gap: 72px;
  opacity: 0;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}
@media (max-width: 768px) {
  /* line 522, style.scss */
  #foreword_wrapper .foreword_text {
    -webkit-column-count: auto;
            column-count: auto;
    width: calc( 100% - 32px );
  }
}
/* line 538, style.scss */
#foreword_wrapper #animation_wrapper {
  width: 80%;
  height: auto;
  position: absolute;
  top: 48vh;
  left: 10%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: top 0.5s;
  transition: top 0.5s;
  text-align: center;
  color: #1f1f1f;
  font-size: 117px;
}
@media (max-width: 1440px) {
  /* line 538, style.scss */
  #foreword_wrapper #animation_wrapper {
    font-size: 8vw;
  }
}
@media (max-width: 768px) {
  /* line 538, style.scss */
  #foreword_wrapper #animation_wrapper {
    width: calc( 100% - 32px );
    left: 16px;
  }
}
/* line 559, style.scss */
#foreword_wrapper #animation_wrapper h1 {
  text-transform: uppercase;
  font-size: 1em;
  margin-bottom: 2px;
}
@media (max-width: 768px) {
  /* line 559, style.scss */
  #foreword_wrapper #animation_wrapper h1 {
    font-size: 10vw;
  }
}
/* line 567, style.scss */
#foreword_wrapper #animation_wrapper h2 {
  font-size: 0.615em;
  line-height: 1.08;
  opacity: 1;
}
@media (max-width: 768px) {
  /* line 567, style.scss */
  #foreword_wrapper #animation_wrapper h2 {
    font-size: 18px;
  }
}
/* line 575, style.scss */
#foreword_wrapper #animation_wrapper .hidden {
  opacity: 0;
}

/* line 582, style.scss */
.intro_column_left .column_contents {
  -webkit-column-count: 2;
          column-count: 2;
  -webkit-column-gap: 36px;
          column-gap: 36px;
}
@media (max-width: 768px) {
  /* line 582, style.scss */
  .intro_column_left .column_contents {
    -webkit-column-count: auto;
            column-count: auto;
  }
}

/* line 590, style.scss */
.intro_column_left .column_contents p {
  -webkit-column-break-inside: avoid;
  break-inside: avoid;
}

/* line 596, style.scss */
.sub_column {
  width: calc( 50% - 18px );
}

/* line 600, style.scss */
.column_title {
  margin-bottom: 60px;
  text-align: center;
  font-size: 0.78em;
  text-transform: uppercase;
  letter-spacing: 0;
}

/* line 608, style.scss */
.yellow_intro_section {
  background-color: #fff9c2;
}

/* line 613, style.scss */
#colophon_wrapper a {
  color: black;
  border-bottom: 1px solid black;
}
/* line 617, style.scss */
#colophon_wrapper li {
  margin-bottom: 18px;
}
/* line 619, style.scss */
#colophon_wrapper li img {
  height: auto;
  margin-bottom: 4px;
  max-width: 100%;
}
/* line 624, style.scss */
#colophon_wrapper li a {
  border-bottom: 0px;
}
/* line 631, style.scss */
#colophon_wrapper li:last-child {
  margin-top: 24px;
}
/* line 634, style.scss */
#colophon_wrapper li.cc_icon, #colophon_wrapper li.idocde_icon {
  margin: 48px 0;
}
@media (max-width: 768px) {
  /* line 637, style.scss */
  #colophon_wrapper .intro_column_left {
    margin-bottom: 60px;
  }
}
/* line 642, style.scss */
#colophon_wrapper .intro_column_left .column_contents p {
  display: inline-block;
}
/* line 649, style.scss */
#colophon_wrapper .intro_column_right .column_contents p {
  display: block;
}
@media (max-width: 768px) {
  /* line 654, style.scss */
  #colophon_wrapper .column_contents {
    -webkit-column-gap: 32px;
            column-gap: 32px;
  }
}

/****************************************

	CONTENTS

****************************************/
/* line 667, style.scss */
#contents_wrapper {
  padding-top: 71px;
}

/* line 671, style.scss */
.grey_intro_section {
  background-color: #424242;
  color: white;
}

/* line 676, style.scss */
#contents_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-column-count: 2;
          column-count: 2;
  -webkit-column-gap: 36px;
          column-gap: 36px;
  overflow: hidden;
}
@media (max-width: 768px) {
  /* line 676, style.scss */
  #contents_list {
    display: block;
    -webkit-column-count: 1;
            column-count: 1;
  }
}

/* line 691, style.scss */
#contents_list .scores,
#contents_list .manual,
#contents_list .exercises {
  font-family: "Univers", sans-serif;
}

/* line 697, style.scss */
#contents_list a {
  color: white;
}

/* line 701, style.scss */
.contents_sub_col {
  width: calc( 50% - 18px );
}
@media (max-width: 768px) {
  /* line 701, style.scss */
  .contents_sub_col {
    width: 100%;
  }
}

/* line 709, style.scss */
.contents_sub_section {
  width: 100%;
  margin-bottom: 36px;
}

/* line 715, style.scss */
.contents_sub_section_header {
  position: relative;
  font-family: "Univers", sans-serif;
}

/* line 721, style.scss */
.contents_number {
  font-size: 1.33em;
  display: inline-block;
  vertical-align: top;
  position: absolute;
  z-index: 99;
  width: 50px;
  height: calc( 100% - 10px );
  top: 0px;
  left: -1px;
  text-align: center;
  padding-top: 10px;
}
/* line 734, style.scss */
.contents_number span {
  position: absolute;
  left: 55%;
  top: 45%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
}

/* line 742, style.scss */
.contents_sub_section_title {
  border: 1px solid white;
  font-size: 16px;
  letter-spacing: 0.6px;
  border-bottom: 0px;
  display: inline-block;
  vertical-align: top;
  padding: 14px;
  padding-bottom: 13px;
  margin-left: 50px;
  width: calc( 100% - 80px);
  min-height: 22px;
  letter-spacing: 0;
}

/* line 758, style.scss */
.contents_sub_section:first-child .contents_sub_section_title {
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  word-break: break-word;
}

/* line 766, style.scss */
.contents_sub_col_left .contents_sub_section:nth-child(3) .contents_sub_section_title,
.contents_sub_col_right .contents_sub_section:first-child .contents_sub_section_title,
.contents_sub_col_right .contents_sub_section:nth-child(3) .contents_sub_section_title {
  padding-bottom: 12px;
}

/* line 771, style.scss */
.contents_sub_section_contents {
  border: 1px solid white;
}

/* line 780, style.scss */
#contents_list li {
  border-bottom: 1px solid white;
}

/* line 788, style.scss */
#contents_list .contents_sub_section_contents a:last-child li {
  border-bottom: 0px;
}

/* line 792, style.scss */
#contents_list li p {
  width: calc(100% - 32px);
  margin-left: 16px;
}

/* line 797, style.scss */
.content_wrapper .contents_title {
  font-size: 1.3em;
  margin-top: 24px;
  margin-bottom: 4px;
  font-family: "News Plantin", serif;
  letter-spacing: 0;
}

/* line 805, style.scss */
.contents_author {
  font-family: "News Plantin", serif;
}

/* line 809, style.scss */
.contents_category {
  font-family: "Univers", sans-serif;
  font-size: 0.78em;
  margin-top: 24px;
  letter-spacing: 0;
}

/* line 816, style.scss */
#contents_image_wrapper {
  height: 100%;
  width: 100%;
  position: absolute;
  display: none;
}
@media (max-width: 768px) {
  /* line 816, style.scss */
  #contents_image_wrapper {
    display: none;
    opacity: 0;
    pointer-events: none;
  }
}

/* line 831, style.scss */
#contents_image {
  height: calc(100vh - 142px);
  max-height: 865px;
  width: 100%;
  position: absolute;
  text-align: center;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

/* line 842, style.scss */
#contents_image ul {
  width: 100%;
  height: 100%;
}
/* line 846, style.scss */
#contents_image ul li {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  opacity: 0;
}
/* line 854, style.scss */
#contents_image ul li img {
  position: absolute;
  -o-object-fit: contain;
     object-fit: contain;
  max-width: 100%;
  max-height: 100%;
  height: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

/* line 866, style.scss */
.wingdings {
  width: 12px;
  display: inline-block;
}
/* line 870, style.scss */
.wingdings img {
  width: 100%;
  height: auto;
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
}

/****************************************

	ARTICLES

****************************************/
/* line 883, style.scss */
#article_wrapper {
  z-index: 99;
  top: 0;
  width: 100%;
  min-height: 100vh;
}

/* line 896, style.scss */
#split_wrapper {
  position: fixed;
  overflow-y: scroll;
  top: 0;
  left: 101%;
  width: 50%;
  height: 100vh;
  -webkit-box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
}
/* line 905, style.scss */
#split_wrapper .split_close {
  left: calc( 50% + 30px );
}

/* line 910, style.scss */
#article_nav {
  position: fixed;
  z-index: 9999;
  top: 0;
  width: 100%;
  height: 60px;
  text-align: center;
  font-size: 0.89em;
  color: #757575;
  -webkit-transition: top 1s;
  transition: top 1s;
  display: none;
}
@media (max-width: 768px) {
  /* line 910, style.scss */
  #article_nav {
    height: 50px;
  }
}
/* line 927, style.scss */
#article_nav #article_nav_grey {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #eee;
  -webkit-box-shadow: 0px 4px 6px #eee;
          box-shadow: 0px 4px 6px #eee;
  opacity: 0;
}
/* line 939, style.scss */
#article_nav #article_nav_white {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fffef8;
  -webkit-box-shadow: 0px 4px 6px #fffef8;
          box-shadow: 0px 4px 6px #fffef8;
  opacity: 0;
}
/* line 951, style.scss */
#article_nav div {
  display: inline-block;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
/* line 955, style.scss */
#article_nav #nav_title {
  width: 43.4%;
  height: 100%;
  text-align: center;
  position: relative;
}
/* line 961, style.scss */
#article_nav #nav_title span {
  display: block;
  position: absolute;
  padding-top: 1px;
  top: 18px;
  left: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* line 976, style.scss */
#article_nav .nav_arrow {
  top: 15px;
  position: absolute;
  width: 30px;
  height: 30px;
  left: 28.3%;
  -webkit-transform: translateX(-60px);
          transform: translateX(-60px);
}
@media (max-width: 768px) {
  /* line 976, style.scss */
  #article_nav .nav_arrow {
    width: 24px;
    height: 24px;
    top: 12px;
  }
}
/* line 989, style.scss */
#article_nav .nav_arrow a.disabled {
  cursor: default;
}
/* line 992, style.scss */
#article_nav .nav_arrow img {
  width: auto;
  height: 100%;
}
/* line 997, style.scss */
#article_nav #nav_right {
  left: inherit;
  right: 28.3%;
  -webkit-transform: translateX(60px);
          transform: translateX(60px);
}

/* line 1004, style.scss */
#nav_close, #nav_book_editor {
  position: absolute;
  top: 15px;
  left: 30px;
  width: 30px;
  height: 30px;
}
@media (max-width: 768px) {
  /* line 1004, style.scss */
  #nav_close, #nav_book_editor {
    left: 16px;
    width: 24px;
    height: 24px;
    top: 12px;
  }
}
/* line 1016, style.scss */
#nav_close img, #nav_book_editor img {
  width: 100%;
  height: auto;
}
/* line 1020, style.scss */
#nav_close .added_indicator, #nav_book_editor .added_indicator {
  position: absolute;
  width: 60px;
  bottom: 0;
  right: 40px;
  height: 22px;
  text-align: right;
  font-size: 1em;
  display: none;
}

/* line 1033, style.scss */
#nav_book_editor {
  left: inherit;
  right: 30px;
}

/* line 1038, style.scss */
#article_nav #mobile_notes {
  text-transform: uppercase;
  font-size: 14px;
  position: absolute;
  top: 17px;
  right: 18px;
  font-weight: 400;
  cursor: pointer;
  display: none;
}

@media (max-width: 768px) {
  /* line 1051, style.scss */
  #article_nav #nav_title {
    display: none;
  }
  /* line 1054, style.scss */
  #article_nav .nav_arrow {
    position: absolute;
    left: 80px;
    -webkit-transform: none;
            transform: none;
  }
  /* line 1059, style.scss */
  #article_nav #nav_right {
    left: 120px;
    right: inherit;
    -webkit-transform: none;
            transform: none;
  }
  /* line 1064, style.scss */
  #article_nav #nav_book_editor {
    display: none;
  }
  /* line 1067, style.scss */
  #article_nav #mobile_notes {
    display: block;
  }
}
/****************************************

	ARTICLES

****************************************/
/* line 1081, style.scss */
.white {
  background-color: #fffef8;
}
/* line 1083, style.scss */
.white .title_wrapper {
  font-family: "News Plantin", serif;
}

/* line 1088, style.scss */
.title_wrapper.grey {
  font-family: "Univers", sans-serif;
}

/* line 1092, style.scss */
.grey {
  background-color: #eee !important;
}

/* line 1096, style.scss */
.article_inner_wrapper.grey {
  background-color: transparent !important;
}

/* line 1100, style.scss */
.next_article,
.prev_article {
  left: 101%;
  top: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

/* line 1110, style.scss */
.prev_article {
  left: -100%;
}

/* line 1115, style.scss */
.current_article .split_close {
  left: 36px;
}

@media (max-width: 768px) {
  /* line 1121, style.scss */
  .next_article,
  #split_wrapper {
    left: 110%;
  }
}
/* line 1127, style.scss */
.article {
  background-color: #fffef8;
  width: 100%;
  min-height: 100vh;
  height: auto;
  margin: 0 auto 0px auto;
  z-index: 9;
  -webkit-transition: margin-left 1s, width 1s;
  transition: margin-left 1s, width 1s;
}
@media (max-width: 768px) {
  /* line 1127, style.scss */
  .article {
    padding-top: 92px;
  }
}
/* line 1143, style.scss */
.article .split_close {
  position: fixed;
  top: 15px;
  width: 30px;
  height: 30px;
  background-image: url("../assets/img/split_close.svg");
  background-size: 30px 30px;
  background-position: center center;
  background-repeat: no-repeat;
  cursor: pointer;
  opacity: 0;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}
/* line 1158, style.scss */
.article .article_inner_wrapper {
  max-width: 1224px;
  width: calc( 100% - 142px );
  margin: 0 auto 160px auto;
  position: relative;
}
@media (max-width: 768px) {
  /* line 1158, style.scss */
  .article .article_inner_wrapper {
    margin: 0 16px;
    width: calc( 100% - 32px );
  }
  /* line 1167, style.scss */
  .article .article_inner_wrapper p,
  .article .article_inner_wrapper div,
  .article .article_inner_wrapper img,
  .article .article_inner_wrapper h2,
  .article .article_inner_wrapper h4,
  .article .article_inner_wrapper .list_wrapper,
  .article .article_inner_wrapper .large_list,
  .article .article_inner_wrapper .caption,
  .article .article_inner_wrapper .caption_vertical {
    width: 100%;
    margin-left: 0;
  }
  /* line 1179, style.scss */
  .article .article_inner_wrapper .quote {
    margin-left: 32px;
    width: calc( 100% - 32px );
  }
  /* line 1183, style.scss */
  .article .article_inner_wrapper .template {
    margin-bottom: 80px;
  }
  /* line 1186, style.scss */
  .article .article_inner_wrapper .text_indent {
    width: calc( 100% - 32px );
    margin-left: 32px;
  }
}
/* line 1192, style.scss */
.article h2 {
  margin-bottom: 52px;
}
/* line 1195, style.scss */
.article h4 {
  margin-bottom: 24px;
}
/* line 1199, style.scss */
.article p {
  margin-bottom: 24px;
}
/* line 1202, style.scss */
.article img {
  height: auto;
  margin-top: 56px;
  margin-bottom: 30px;
  -webkit-box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
  -webkit-transition: -webkit-box-shadow 2s;
  transition: -webkit-box-shadow 2s;
  transition: box-shadow 2s;
  transition: box-shadow 2s, -webkit-box-shadow 2s;
}
/* line 1209, style.scss */
.article img.no-top-margin {
  margin-top: 0px;
}
/* line 1212, style.scss */
.article img:hover, .article .no_outline img {
  -webkit-box-shadow: 0px 0px 30px transparent;
          box-shadow: 0px 0px 30px transparent;
}
/* line 1215, style.scss */
.article iframe {
  margin-bottom: 30px;
}

/* line 1224, style.scss */
.mobile .article_inner_wrapper {
  margin: 0px 71px 32px 71px;
  width: calc( 100% - 142px );
}
/* line 1227, style.scss */
.mobile .article_inner_wrapper p,
.mobile .article_inner_wrapper div,
.mobile .article_inner_wrapper img,
.mobile .article_inner_wrapper h2,
.mobile .article_inner_wrapper h4,
.mobile .article_inner_wrapper .list_wrapper,
.mobile .article_inner_wrapper .large_list,
.mobile .article_inner_wrapper .caption,
.mobile .article_inner_wrapper .caption_vertical {
  width: 100%;
  margin-left: 0;
}
/* line 1239, style.scss */
.mobile .article_inner_wrapper .quote {
  margin-left: 32px;
  width: calc( 100% - 32px );
}
/* line 1243, style.scss */
.mobile .article_inner_wrapper .template {
  margin-bottom: 80px;
}
/* line 1246, style.scss */
.mobile .article_inner_wrapper .text_indent {
  margin-left: 32px;
}

/* line 1252, style.scss */
.serif {
  font-family: "News Plantin", serif;
}

/* line 1256, style.scss */
.sansserif {
  font-family: "Univers", sans-serif;
}
/* line 1258, style.scss */
.sansserif b, .sansserif strong {
  letter-spacing: 0.7px;
}

@media (max-width: 1440px) {
  /* line 1264, style.scss */
  .article_inner_wrapper {
    width: 90%;
  }
}
@media (max-width: 1280px) {
  /* line 1270, style.scss */
  .article_inner_wrapper {
    width: calc( 100% - 76px );
  }
}
/* line 1281, style.scss */
.top_wrapper {
  width: calc( 100% - 142px );
  position: relative;
  margin-left: 71px;
  padding-top: 120px;
}
@media (max-width: 768px) {
  /* line 1281, style.scss */
  .top_wrapper {
    margin: 0 16px;
    padding-top: 0;
    width: calc( 100% - 32px );
  }
}
/* line 1292, style.scss */
.top_wrapper .title_wrapper {
  width: 57.19%;
  margin-bottom: 136px;
}
@media (max-width: 768px) {
  /* line 1292, style.scss */
  .top_wrapper .title_wrapper {
    width: 100%;
    margin-bottom: 44px;
  }
  /* line 1300, style.scss */
  .top_wrapper .title_wrapper h1 {
    width: 100%;
    font-size: 2.3em;
    line-height: 1.2;
  }
}
/* line 1306, style.scss */
.top_wrapper .title_wrapper .author_name {
  font-size: 2em;
  line-height: 1.28;
  letter-spacing: 0px;
}
@media (max-width: 768px) {
  /* line 1306, style.scss */
  .top_wrapper .title_wrapper .author_name {
    margin-top: 6px;
    font-size: 1.44em;
  }
}
/* line 1317, style.scss */
.top_wrapper .white {
  font-family: "News Plantin", serif;
}
/* line 1320, style.scss */
.top_wrapper .editor_buttons {
  position: absolute;
  height: 100px;
  top: 120px;
  right: 0;
}
@media (max-width: 768px) {
  /* line 1320, style.scss */
  .top_wrapper .editor_buttons {
    position: relative;
    text-align: center;
    margin-bottom: 72px;
    top: 0;
  }
}
/* line 1332, style.scss */
.top_wrapper .editor_buttons .article_button {
  width: 100px;
  height: 100%;
  margin-left: 24px;
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
  position: relative;
}
@media (max-width: 768px) {
  /* line 1332, style.scss */
  .top_wrapper .editor_buttons .article_button {
    margin: 0;
  }
}
/* line 1344, style.scss */
.top_wrapper .editor_buttons .article_button img {
  -webkit-box-shadow: 0px 0px 0px transparent;
          box-shadow: 0px 0px 0px transparent;
  margin-top: 0;
}
@media (max-width: 768px) {
  /* line 1349, style.scss */
  .top_wrapper .editor_buttons .article_button:first-child {
    display: none;
  }
}

/* line 1358, style.scss */
.mobile .top_wrapper {
  margin: 92px 71px 0 71px;
  width: calc( 100% - 142px );
}
/* line 1361, style.scss */
.mobile .top_wrapper .title_wrapper {
  width: 100%;
  margin-bottom: 44px;
}
/* line 1375, style.scss */
.mobile .top_wrapper .editor_buttons {
  position: relative;
  text-align: center;
  margin-bottom: 72px;
  top: 0;
}
/* line 1380, style.scss */
.mobile .top_wrapper .editor_buttons .article_button {
  margin: 0;
}
/* line 1383, style.scss */
.mobile .top_wrapper .editor_buttons .article_button:first-child {
  display: none;
}

/* line 1390, style.scss */
.template {
  margin-bottom: 136px;
}

/* line 1395, style.scss */
.non_breaking {
  width: 0px;
  margin-left: -6px;
  margin-bottom: 0 !important;
}

/* line 1401, style.scss */
.article_footnotes_wrapper {
  width: 100%;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
  margin-top: 100px;
  left: 0;
}
/* line 1407, style.scss */
.article_footnotes_wrapper .footnotes_close {
  position: absolute;
  z-index: 99;
  top: 36px;
  right: 36px;
  display: none;
}
/* line 1414, style.scss */
.article_footnotes_wrapper .footnotes_close img {
  -webkit-box-shadow: none;
          box-shadow: none;
  margin: 0;
  margin-top: -6px;
  cursor: pointer;
}
/* line 1421, style.scss */
.article_footnotes_wrapper .article_footnotes {
  width: calc( 100% - 142px );
  position: relative;
  width: 50%;
  font-size: 0.78em;
  letter-spacing: 0;
  line-height: 1.57;
  margin: 36px 0 71px 72px;
}
@media (max-width: 768px) {
  /* line 1421, style.scss */
  .article_footnotes_wrapper .article_footnotes {
    margin-left: 16px;
    width: calc( 100% - 32px );
  }
}
/* line 1433, style.scss */
.article_footnotes_wrapper .article_footnotes ul {
  list-style-type: decimal;
  margin-left: 16px;
}
/* line 1436, style.scss */
.article_footnotes_wrapper .article_footnotes ul li {
  padding-left: 4.29%;
}
/* line 1440, style.scss */
.article_footnotes_wrapper .article_footnotes a {
  color: #212121;
  border-bottom: 1px solid #212121;
}

/* line 1448, style.scss */
.mobile .article_footnotes {
  margin-left: 71px;
  width: calc( 100% - 142px );
}

/* line 1455, style.scss */
.article_footnotes_clone .article_footnotes_wrapper {
  -webkit-transition: top 0.5s;
  transition: top 0.5s;
}

/* line 1461, style.scss */
.article_template_1 p, .article_template_1 div {
  width: 57.19%;
  margin-left: 8.57%;
}
/* line 1466, style.scss */
.article_template_1 p.no_outline {
  margin: 0;
  width: 100%;
}
/* line 1470, style.scss */
.article_template_1 h2, .article_template_1 h4 {
  margin-left: 8.57%;
}
/* line 1473, style.scss */
.article_template_1 img, .article_template_1 .caption {
  width: 65.68%;
  margin-left: 17.16%;
}
/* line 1477, style.scss */
.article_template_1 img.portrait {
  width: 42.89%;
  margin-left: 28.56%;
}
@media (max-width: 768px) {
  /* line 1477, style.scss */
  .article_template_1 img.portrait {
    width: 100%;
    margin-left: 0;
  }
}
/* line 1485, style.scss */
.article_template_1 .caption_vertical {
  width: 42.89%;
  margin-left: 28.56%;
}
/* line 1489, style.scss */
.article_template_1 .list_wrapper {
  margin-left: 8.57%;
  width: 57.19%;
}
/* line 1493, style.scss */
.article_template_1 .quote {
  width: 48.53%;
  margin-left: 17.16%;
}
/* line 1497, style.scss */
.article_template_1 p.text_indent {
  padding-left: 42px;
}
@media (max-width: 768px) {
  /* line 1497, style.scss */
  .article_template_1 p.text_indent {
    padding-left: 0;
  }
}

/* line 1512, style.scss */
.article_template_2 p, .article_template_2 h2, .article_template_2 h4, .article_template_2 .large_list, .article_template_2 .list_wrapper, .article_template_2 div {
  width: 65.68%;
  margin-left: 17.16%;
}
/* line 1515, style.scss */
.article_template_2 p .large_list, .article_template_2 h2 .large_list, .article_template_2 h4 .large_list, .article_template_2 .large_list .large_list, .article_template_2 .list_wrapper .large_list, .article_template_2 div .large_list {
  width: 100%;
  margin-left: 0;
}
/* line 1522, style.scss */
.article_template_2 img, .article_template_2 .caption {
  width: 82.84%;
  margin-left: 8.57%;
}
/* line 1526, style.scss */
.article_template_2 img.portrait,
.article_template_2 img.portrait_tmpl_2 {
  width: 48.53%;
  margin-left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
@media (max-width: 768px) {
  /* line 1526, style.scss */
  .article_template_2 img.portrait,
  .article_template_2 img.portrait_tmpl_2 {
    width: 100%;
    margin-left: 0%;
    -webkit-transform: none;
            transform: none;
  }
}
/* line 1537, style.scss */
.article_template_2 .caption_vertical {
  width: 48.53%;
  margin-left: 25.74%;
}

/* line 1544, style.scss */
.mobile img.portrait,
.mobile img.portrait_tmpl_2 {
  width: 100%;
  margin-left: 0;
  -webkit-transform: none;
          transform: none;
}

/* line 1552, style.scss */
.article_template_3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
/* line 1556, style.scss */
.article_template_3 .text_wrapper {
  width: 48.53%;
  margin-left: 0;
  display: inline-block;
  white-space: normal;
}
@media (max-width: 768px) {
  /* line 1563, style.scss */
  .article_template_3 .text_wrapper .stix_symbols {
    -webkit-text-size-adjust: 60%;
    -webkit-transform: translateY(-3px);
            transform: translateY(-3px);
  }
  /* line 1569, style.scss */
  .article_template_3 .text_wrapper .list_two .stix_symbols {
    -webkit-transform: translateX(-1px) translateY(-1px);
            transform: translateX(-1px) translateY(-1px);
  }
  /* line 1573, style.scss */
  .article_template_3 .text_wrapper .hidden {
    display: block;
  }
}
/* line 1578, style.scss */
.article_template_3 .image_wrapper {
  display: inline-block;
  vertical-align: top;
  width: 48.53%;
  margin-left: 2%;
}
@media (max-width: 768px) {
  /* line 1578, style.scss */
  .article_template_3 .image_wrapper {
    display: none;
  }
}
/* line 1588, style.scss */
.article_template_3 .image_wrapper img {
  width: 100%;
  height: auto;
  margin-top: 0px;
}
/* line 1594, style.scss */
.article_template_3 .anchor {
  width: 206%;
  position: relative;
}
/* line 1598, style.scss */
.article_template_3 .anchor .align_to {
  width: 48.53%;
}
@media (max-width: 768px) {
  /* line 1598, style.scss */
  .article_template_3 .anchor .align_to {
    width: 100%;
  }
}
/* line 1606, style.scss */
.article_template_3 .img_align {
  position: absolute;
  width: 48.53%;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
@media (max-width: 768px) {
  /* line 1606, style.scss */
  .article_template_3 .img_align {
    position: relative;
    top: 0;
    -webkit-transform: none;
            transform: none;
  }
}
/* line 1618, style.scss */
.article_template_3 .img_align .caption {
  position: absolute;
}
@media (max-width: 768px) {
  /* line 1618, style.scss */
  .article_template_3 .img_align .caption {
    position: relative;
  }
}

/* line 1630, style.scss */
.mobile .article_template_3 .text_wrapper .hidden {
  display: block;
}
/* line 1634, style.scss */
.mobile .article_template_3 .image_wrapper {
  display: none;
}

/* line 1641, style.scss */
.article_template_4 .interview_left, .article_template_4 .interview_right {
  display: block;
  width: 57.19%;
  margin-bottom: 24px;
}
/* line 1645, style.scss */
.article_template_4 .interview_left img, .article_template_4 .interview_right img {
  width: 100%;
}
/* line 1648, style.scss */
.article_template_4 .interview_left img.portrait, .article_template_4 .interview_right img.portrait {
  width: 69.96%;
}
/* line 1652, style.scss */
.article_template_4 .interview_right.caption,
.article_template_4 .interview_right.caption_vertical {
  margin-bottom: 64px;
}
/* line 1656, style.scss */
.article_template_4 img {
  width: 57.19%;
}
/* line 1659, style.scss */
.article_template_4 img.portrait, .article_template_4 .caption_vertical {
  width: 42.89%;
}
/* line 1662, style.scss */
.article_template_4 .interview_right {
  margin-left: 42.89%;
}
/* line 1664, style.scss */
.article_template_4 .interview_right .caption_vertical {
  width: 69.86%;
}
/* line 1668, style.scss */
.article_template_4 img.interview_right {
  margin-bottom: 30px;
}
@media (max-width: 768px) {
  /* line 1672, style.scss */
  .article_template_4 .interview_left,
  .article_template_4 .interview_right,
  .article_template_4 img.portrait,
  .article_template_4 .caption_vertical {
    width: 100%;
    margin-left: 0;
  }
}

/* line 1684, style.scss */
.mobile .article_template_4 .interview_left,
.mobile .article_template_4 .interview_right,
.mobile .article_template_4 img.portrait,
.mobile .article_template_4 .caption_vertical {
  width: 100%;
  margin-left: 0;
}

/* line 1694, style.scss */
.article_template_5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
/* line 1698, style.scss */
.article_template_5 .mtd_column {
  position: relative;
}
/* line 1701, style.scss */
.article_template_5 .mtd_column iframe {
  width: 100%;
  -webkit-transition: height 0.5s;
  transition: height 0.5s;
}
/* line 1710, style.scss */
.article_template_5 .sticky-wrapper {
  height: 100%;
}
/* line 1713, style.scss */
.article_template_5 .fix_wrapper {
  height: calc( 100% + 96px );
  margin-top: -96px;
}
/* line 1717, style.scss */
.article_template_5 .fix_wrapper .iframe_wrapper {
  margin-top: 96px;
  position: absolute;
  width: 100%;
}

/* line 1728, style.scss */
.article_template_6 iframe {
  width: 100%;
  margin-left: 0;
}

/* line 1734, style.scss */
.video_play_wrapper {
  width: 100%;
  position: absolute;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
/* line 1742, style.scss */
.video_play_wrapper img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  margin: 0;
  cursor: pointer;
}
@media (max-width: 768px) {
  /* line 1742, style.scss */
  .video_play_wrapper img {
    width: 100px !important;
    height: 100px;
  }
}

/* line 1758, style.scss */
.mobile .video_play_wrapper img {
  width: 100px !important;
  height: 100px;
}

/* line 1765, style.scss */
.caption, .caption_vertical {
  margin-top: -10px;
  font-family: "Univers", sans-serif;
  font-size: 0.78em;
  line-height: 1.28;
  letter-spacing: 0;
  color: #757575;
  margin-bottom: 64px;
  display: block;
}
/* line 1774, style.scss */
.caption p, .caption_vertical p {
  display: inline;
}
/* line 1777, style.scss */
.caption i, .caption em, .caption_vertical i, .caption_vertical em {
  font-size: 1em;
}

/* line 1782, style.scss */
.glyph {
  display: inline-block;
  height: 6px;
  width: 24px;
  margin-top: 0px;
}
/* line 1788, style.scss */
.glyph img {
  -webkit-box-shadow: none;
          box-shadow: none;
  height: 100%;
  width: auto;
  vertical-align: top;
  margin-top: 6px;
  margin-left: -1px;
}

/* line 1799, style.scss */
.comment {
  display: block;
  font-family: "Univers", sans-serif;
  font-size: 0.78em;
  line-height: 1.28;
  color: #212121;
  letter-spacing: 0;
}
/* line 1806, style.scss */
.comment i, .comment em {
  font-size: 1em;
}

/* line 1811, style.scss */
.quote {
  display: block;
  width: 48.53%;
  margin-left: 17.16%;
  margin-bottom: 24px;
}

/* line 1818, style.scss */
.text_indent {
  display: block;
  margin-left: 17.16%;
}

/* line 1824, style.scss */
.first_line_indent {
  display: block;
  text-indent: 4.29%;
}

/* line 1829, style.scss */
.large_text {
  display: block;
  font-size: 1.44em;
  letter-spacing: 0;
  line-height: 1.3;
  margin-bottom: 90px;
  margin-bottom: 24px;
}
/* line 1836, style.scss */
.large_text .list_marker {
  display: inline-block;
  vertical-align: top;
  width: 42px;
}
/* line 1841, style.scss */
.large_text .list_content {
  display: inline-block;
  vertical-align: top;
  width: calc( 100% - 46px );
}

/* line 1848, style.scss */
.list_wrapper {
  margin-bottom: 16px;
}

/* line 1852, style.scss */
.list_one, .list_two, .large_list {
  display: block;
}
/* line 1855, style.scss */
.list_one span, .list_two span, .large_list span {
  display: inline-block;
  vertical-align: top;
  margin-bottom: 8px;
}
/* line 1861, style.scss */
.list_one .list_marker, .list_two .list_marker, .large_list .list_marker {
  width: 8.57%;
  width: 42px;
  height: 0;
}
/* line 1867, style.scss */
.list_one .list_content, .list_two .list_content, .large_list .list_content {
  width: calc( 100% - 46px );
}

/* line 1874, style.scss */
.large_list.list_two {
  padding-left: 42px;
}
@media (max-width: 768px) {
  /* line 1877, style.scss */
  .large_list.list_two .list_content {
    width: calc(100% - 84px);
  }
}

/* line 1886, style.scss */
.mobile .large_list.list_two .list_content {
  width: calc(100% - 84px);
}

/* line 1892, style.scss */
.list_two {
  display: block;
  margin-left: 8.57%;
  margin-left: 42px;
}
/* line 1896, style.scss */
.list_two .list_marker {
  width: 42px;
}

/* line 1902, style.scss */
.stix_symbols {
  font-family: 'stix';
  font-size: 2em;
  -webkit-transform: translateY(-11px);
          transform: translateY(-11px);
}

/* line 1908, style.scss */
.option_marker {
  font-size: 26px;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

/* line 1914, style.scss */
.list_two .stix_symbols {
  -webkit-transform: translateY(-13px);
          transform: translateY(-13px);
}

/* line 1921, style.scss */
.large_list {
  display: block;
  font-size: 1.44em;
  letter-spacing: 0;
  line-height: 1.3;
}
/* line 1926, style.scss */
.large_list .stix_symbols {
  -webkit-transform: translateY(-13px);
          transform: translateY(-13px);
}
/* line 1929, style.scss */
.large_list .list_two {
  margin-left: 42px;
}
/* line 1933, style.scss */
.large_list .list_content {
  width: calc( 100% - 50px );
}

/* line 1939, style.scss */
 
.large_list.list_two .stix_symbols {
  -webkit-transform: translateY(-16px);
          transform: translateY(-16px);
}

/* line 1944, style.scss */
.stix_symbols_large {
  font-family: 'stix';
  font-size: 2.88em;
}

/* line 1951, style.scss */
h2 .stix_symbols_large {
  font-size: 0.75em;
  font-size: 26px;
  -webkit-transform: translateY(-6px);
          transform: translateY(-6px);
  display: inline-block;
  margin-right: 6px;
}

/* line 1961, style.scss */
.after_wingdings {
  display: block;
  padding-left: 0px;
  text-indent: 30px;
  position: relative;
}
/* line 1966, style.scss */
.after_wingdings .wingdings {
  display: inline-block;
  height: 18px;
  width: 18px;
  position: absolute;
  margin-top: 2px;
  left: -30px;
}
/* line 1974, style.scss */
.after_wingdings .wingdings img {
  -webkit-box-shadow: none;
          box-shadow: none;
  height: 60%;
  width: auto;
  vertical-align: top;
  margin-top: 6px;
}

/* line 1984, style.scss */
.large_text {
  letter-spacing: 0.2px;
  line-height: 1.35em;
}
/* line 1987, style.scss */
.large_text .wingdings {
  height: 24px;
  width: 24px;
  margin-top: 3px;
}
/* line 1992, style.scss */
.large_text .after_wingdings {
  margin-bottom: 66px;
}

/* line 1997, style.scss */
.download_link {
  border-bottom: 0px !important;
}
/* line 1999, style.scss */
.download_link img {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  width: 150px !important;
  height: 150px !important;
  margin-left: 0px !important;
}

/****************************************

	LIGHTBOX

****************************************/
/* line 2013, style.scss */
#lightbox_bg {
  position: fixed;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  display: none;
}

/* line 2024, style.scss */
#lightbox_close {
  position: fixed;
  top: 36px;
  right: 36px;
  width: 48px;
  height: 48px;
  z-index: 999;
  cursor: pointer;
  display: none;
}
@media (max-width: 800px), (max-height: 600px) {
  /* line 2024, style.scss */
  #lightbox_close {
    top: 18px;
    right: 18px;
    width: 32px;
    height: 32px;
  }
}
/* line 2040, style.scss */
#lightbox_close img {
  width: 100%;
  height: 100%;
}

/* line 2046, style.scss */
#lightbox_inner_wrapper {
  position: fixed;
  z-index: 9999;
  width: 67%;
  height: 80%;
  top: 10%;
  left: 16.7%;
  text-align: center;
  display: none;
}
@media (max-width: 600px) {
  /* line 2046, style.scss */
  #lightbox_inner_wrapper {
    width: 80%;
    left: 10%;
  }
}
/* line 2060, style.scss */
#lightbox_inner_wrapper .image {
  max-height: 100%;
  max-width: 100%;
  position: absolute;
  cursor: pointer;
  -webkit-transition: width 0.5s, height 0.5s, opacity 1s;
  transition: width 0.5s, height 0.5s, opacity 1s;
}
/* line 2067, style.scss */
#lightbox_inner_wrapper .landscape {
  width: 100%;
  height: auto;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
/* line 2074, style.scss */
#lightbox_inner_wrapper .portrait {
  height: 100%;
  width: auto;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

/* line 2082, style.scss */
.pdf_spacer {
  display: none !important;
}

/****************************************

	EDITOR

****************************************/
/* line 2096, style.scss */
#editor_top_bar {
  text-align: center;
  width: 50%;
  height: 60px;
  position: absolute;
  top: 0;
}
/* line 2108, style.scss */
#editor_top_bar #editor_close {
  width: 30px;
  height: 30px;
  position: absolute;
  left: 30px;
  top: 15px;
}

/* line 2118, style.scss */
#editor_wrapper {
  background-color: white;
  position: absolute;
  top: 0;
  z-index: 999;
  width: 100%;
  min-height: 100vh;
}
/* line 2126, style.scss */
#editor_wrapper .editor_column_wrapper {
  width: 50%;
  padding-top: 92px;
  background-color: #fffef8;
  position: fixed;
  overflow: auto;
  top: 0;
  min-height: 100vh;
  height: 100%;
}
/* line 2136, style.scss */
#editor_wrapper .editor_column_wrapper .editor_column {
  position: relative;
  max-width: 612px;
  width: calc( 100% - 36px );
  margin: 0 auto;
}
/* line 2142, style.scss */
#editor_wrapper .editor_column_wrapper .editor_column h2 {
  margin-bottom: 48px;
  text-align: center;
}
/* line 2146, style.scss */
#editor_wrapper .editor_column_wrapper .editor_column .list_one {
  margin-bottom: 20px;
}
/* line 2149, style.scss */
#editor_wrapper .editor_column_wrapper .editor_column .list_one .list_marker {
  width: 42px;
  font-size: 2em;
  -webkit-transform: translateY(-21px);
          transform: translateY(-21px);
}
/* line 2155, style.scss */
#editor_wrapper .editor_column_wrapper .editor_column .list_one .list_content {
  width: calc( 100% - 84px );
}
/* line 2161, style.scss */
#editor_wrapper #editor_video_wrapper {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  background-color: #333;
}
@media (max-width: 768px) {
  /* line 2161, style.scss */
  #editor_wrapper #editor_video_wrapper {
    display: none;
  }
}
/* line 2172, style.scss */
#editor_wrapper #editor_video_wrapper #editor_video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

/* line 2191, style.scss */
#editor_play {
  position: absolute;
  top: 50%;
  left: 75%;
  width: 50%;
  text-align: center;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  margin: 0;
  cursor: pointer;
  display: none;
}

/* line 2204, style.scss */
#editor_no_articles {
  -webkit-font-smoothing: subpixel-antialiased;
  padding: 16px;
  margin: 40px 0;
  text-align: center;
  display: none;
}
/* line 2217, style.scss */
#editor_no_articles p {
  margin: 0;
}

/* line 2222, style.scss */
#editor_button_wrapper {
  height: auto;
  width: 100%;
  text-align: center;
  margin: 40px 0;
  display: none;
}
/* line 2228, style.scss */
#editor_button_wrapper #editor_button {
  background-color: #fffef8;
  width: 100px;
  height: 100px;
  display: inline-block;
}
@media (max-width: 768px) {
  /* line 2228, style.scss */
  #editor_button_wrapper #editor_button {
    left: 50%;
  }
}

/* line 2245, style.scss */
#editor_articles_wrapper {
  position: absolute;
  right: -16px;
  width: calc( 100% + 32px );
}

/* line 2252, style.scss */
#editor_articles {
  margin: 72px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
  position: relative;
}

/* line 2261, style.scss */
.editor_article {
  border: 1px solid black;
  background-color: #fffef8;
  width: calc( 50% - 18px );
  margin-bottom: 36px;
  -webkit-transition: -webkit-box-shadow 2s;
  transition: -webkit-box-shadow 2s;
  transition: box-shadow 2s;
  transition: box-shadow 2s, -webkit-box-shadow 2s;
  position: relative;
  top: 0;
  left: 0;
  text-align: left;
  font-family: "News Plantin", serif;
  float: auto;
  cursor: move;
}
/* line 2274, style.scss */
.editor_article .editor_article_title {
  font-size: 1.33em;
  margin: 26px 16px 12px 16px;
}
/* line 2278, style.scss */
.editor_article .editor_article_author {
  margin: 0px 16px 36px 16px;
}
/* line 2281, style.scss */
.editor_article .editor_article_close {
  position: absolute;
  top: 6px;
  right: 6px;
  width: 24px;
  height: 24px;
  cursor: pointer;
}
/* line 2288, style.scss */
.editor_article .editor_article_close img {
  width: 100%;
  height: 100%;
}

/* line 2295, style.scss */
.editor_article:hover {
  -webkit-box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
}

/* line 2299, style.scss */
.sortable-placeholder {
  border: 2px dashed #757575;
  display: block;
  width: calc( 50% - 18px );
  margin-bottom: 36px;
  -webkit-transition: height 0.5s;
  transition: height 0.5s;
}

/****************************************

	TMP 

****************************************/
