@charset "UTF-8";
/* line 1, style.scss */
#wpadminbar {
  display: none !important;
}

/****************************************

	CSS RESET

****************************************/
/* line 57, style.scss */
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

/* line 57, style.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 57, style.scss */
body {
  line-height: 1;
}

/* line 57, style.scss */
ol, ul {
  list-style: none;
}

/* line 57, style.scss */
blockquote, q {
  quotes: none;
}

/* line 57, style.scss */
blockquote:after, blockquote:before, q:after, q:before {
  content: '';
  content: none;
}

/* line 57, style.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/****************************************

	FONTS

****************************************/
@font-face {
  font-family: "News Plantin";
  font-weight: normal;
  font-style: normal;
  src: url("assets/fonts/News Plantin.woff2") format("woff2"), url("assets/fonts/News Plantin.woff") format("woff");
}
@font-face {
  font-family: "News Plantin";
  font-weight: normal;
  font-style: italic;
  src: url("assets/fonts/News Plantin Italic.woff2") format("woff2"), url("assets/fonts/News Plantin Italic.woff") format("woff");
}
@font-face {
  font-family: "News Plantin";
  font-weight: bold;
  font-style: normal;
  src: url("assets/fonts/News Plantin Bold.woff2") format("woff2"), url("assets/fonts/News Plantin Bold.woff") format("woff");
}
@font-face {
  font-family: "News Plantin";
  font-weight: bold;
  font-style: italic;
  src: url("assets/fonts/News Plantin Bold Italic.woff2") format("woff2"), url("assets/fonts/News Plantin bold Italic.woff") format("woff");
}
@font-face {
  font-family: "Univers";
  font-weight: normal;
  font-style: normal;
  src: url("assets/fonts/universltstd-webfont.woff2") format("woff2"), url("assets/fonts/universltstd-webfont.woff") format("woff");
}
@font-face {
  font-family: "Univers";
  font-weight: normal;
  font-style: italic;
  src: url("assets/fonts/universltstd-obl-webfont.woff2") format("woff2"), url("assets/fonts/universltstd-obl-webfont.woff") format("woff");
}
@font-face {
  font-family: 'stix';
  src: url("assets/fonts/stixgeneral-webfont.woff2") format("woff2"), url("assets/fonts/stixgeneral-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'mtdwingdings';
  src: url("assets/fonts/wingdings-webfont.woff2") format("woff2"), url("assets/fonts/wingdings-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/****************************************

	GENERAL

****************************************/
/* line 135, style.scss */
html, body {
  width: 100%;
  min-height: 100%;
  font-family: "Univers", sans-serif;
  font-size: 18px;
  line-height: 1.28;
  overflow-x: hidden;
  color: #212121;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 147, style.scss */
a, a:visited {
  text-decoration: none;
  color: #2962FF;
}

/* line 152, style.scss */
.nav_section {
  display: none;
}

/* line 156, style.scss */
section {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  position: relative;
}

/* line 165, style.scss */
.content_wrapper {
  max-width: 1224px;
  width: calc( 100% - 142px );
  margin: 0 auto 36px auto;
  padding-top: 96px;
}

/* line 173, style.scss */
.content_wrapper p {
  margin-bottom: 18px;
}

/* line 177, style.scss */
h1 {
  font-size: 3em;
  line-height: 1.1;
}

/* line 182, style.scss */
h2 {
  font-size: 2em;
}

/* line 186, style.scss */
h4 {
  line-height: 1.15;
  text-transform: uppercase;
}

/* line 193, style.scss */
h5 {
  text-transform: uppercase;
}

/* line 197, style.scss */
i, em {
  font-style: italic;
  font-size: 1.05em;
}

/* line 202, style.scss */
b, strong {
  font-weight: bold;
}

/* line 206, style.scss */
.footnote_link {
  font-family: "Univers", sans-serif;
  vertical-align: super;
  font-size: 0.7em;
  line-height: 0;
  cursor: pointer;
}

/* line 214, style.scss */
.small_font {
  font-size: 0.78em;
  line-height: 1.42;
}

/* line 219, style.scss */
.uppercase {
  text-transform: uppercase;
}

/* line 223, style.scss */
.mtd_column {
  width: calc( 50% - 36px );
  display: inline-block;
  vertical-align: top;
}

/* line 230, style.scss */
#foreword_wrapper,
#contents_wrapper,
#colophon_wrapper,
#editor_wrapper .content_wrapper,
.intro_column_right .column_contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/****************************************

	INTRO

****************************************/
/* line 245, style.scss */
#intro_nav_wrapper {
  position: relative;
  top: -60px;
}

/* line 251, style.scss */
#intro_nav {
  background-color: white;
  -webkit-transition: background-color .5s;
  transition: background-color .5s;
  z-index: 999;
  width: 100%;
  height: 60px;
  text-transform: uppercase;
  font-size: 0.89em;
}
/* line 262, style.scss */
#intro_nav span {
  display: inline-block;
  position: absolute;
  top: 45%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
/* line 268, style.scss */
#intro_nav ul {
  height: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/* line 274, style.scss */
#intro_nav ul li {
  display: inline-block;
  margin: 0 32px;
}

/* line 282, style.scss */
#intro_nav a {
  color: #212121;
}

/* line 286, style.scss */
.stuck {
  position: fixed;
  top: 0;
}

/* line 291, style.scss */
#intro_nav_left {
  left: 32px;
}

/* line 295, style.scss */
#intro_nav_right {
  right: 32px;
}

/* line 299, style.scss */
.intro_content {
  min-height: 100vh;
  font-size: 1.8em;
}

/* line 305, style.scss */
.intro_wrapper > p {
  width: 33%;
}

/* line 309, style.scss */
section img {
  width: auto;
  height: 100vh;
}

/* line 314, style.scss */
video#introvid {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background: url("assets/img/video_fallback.jpg") no-repeat;
  background-size: cover;
}

/* line 335, style.scss */
.intro_column_left .column_contents {
  -webkit-column-count: 2;
          column-count: 2;
  -webkit-column-gap: 36px;
          column-gap: 36px;
}

/* line 340, style.scss */
.intro_column_left .column_contents p {
  -webkit-column-break-inside: avoid;
  break-inside: avoid;
}

/* line 346, style.scss */
.sub_column {
  width: calc( 50% - 18px );
}

/* line 351, style.scss */
.column_title {
  margin-bottom: 60px;
  text-align: center;
}

/* line 356, style.scss */
.yellow_intro_section {
  background-color: #fffab4;
}

/* line 360, style.scss */
#colophon_wrapper img {
  height: auto;
  margin-bottom: 4px;
}

/****************************************

	CONTENTS

****************************************/
/* line 371, style.scss */
.grey_intro_section {
  background-color: #424242;
  color: white;
}

/* line 376, style.scss */
#contents_list {
  font-family: "News Plantin", serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-column-count: 2;
          column-count: 2;
  -webkit-column-gap: 36px;
          column-gap: 36px;
  overflow: hidden;
}

/* line 388, style.scss */
#contents_list .scores,
#contents_list .manual,
#contents_list .exercises {
  font-family: "Univers", sans-serif;
}

/* line 394, style.scss */
#contents_list a {
  color: white;
}

/* line 398, style.scss */
.contents_sub_section {
  width: calc( 50% - 18px );
  margin-bottom: 36px;
}

/* line 406, style.scss */
.contents_sub_section:nth-child(even) {
  margin-left: 36px;
}

/* line 410, style.scss */
.contents_sub_section:nth-child(1) {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

/* line 414, style.scss */
.contents_sub_section:nth-child(2) {
  -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4;
}

/* line 418, style.scss */
.contents_sub_section:nth-child(3) {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

/* line 422, style.scss */
.contents_sub_section:nth-child(4) {
  -webkit-box-ordinal-group: 6;
      -ms-flex-order: 5;
          order: 5;
}

/* line 426, style.scss */
.contents_sub_section:nth-child(5) {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}

/* line 430, style.scss */
.contents_sub_section:nth-child(6) {
  -webkit-box-ordinal-group: 7;
      -ms-flex-order: 6;
          order: 6;
}

/* line 434, style.scss */
.contents_sub_section_header {
  position: relative;
}

/* line 439, style.scss */
.contents_number {
  display: inline-block;
  vertical-align: top;
  position: absolute;
  z-index: 99;
  width: 50px;
  height: calc( 100% - 10px );
  top: 0px;
  left: -1px;
  text-align: center;
  padding-top: 10px;
  font-size: 1.33em;
}
/* line 456, style.scss */
.contents_number span {
  position: absolute;
  left: 55%;
  top: 45%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
}

/* line 464, style.scss */
.contents_sub_section_title {
  border: 1px solid white;
  border-bottom: 0px;
  display: inline-block;
  vertical-align: top;
  padding: 14px;
  margin-left: 50px;
  width: calc( 100% - 80px);
  min-height: 22px;
}

/* line 476, style.scss */
.contents_sub_section:first-child .contents_sub_section_title {
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  word-break: break-word;
}

/* line 481, style.scss */
.contents_sub_section_contents {
  border: 1px solid white;
}

/* line 485, style.scss */
#contents_list {
  margin-bottom: -100px;
}

/* line 490, style.scss */
#contents_list li {
  border-bottom: 1px solid white;
}

/* line 498, style.scss */
#contents_list .contents_sub_section_contents li:last-child {
  border-bottom: 0px;
}

/* line 502, style.scss */
#contents_list li p {
  width: calc(100% - 32px);
  margin-left: 16px;
}

/* line 507, style.scss */
.content_wrapper .contents_title {
  font-size: 1.3em;
  margin-top: 24px;
  margin-bottom: 4px;
}

/* line 513, style.scss */
.contents_category {
  font-family: "Univers", sans-serif;
  font-size: 0.78em;
  margin-top: 46px;
}

/* line 519, style.scss */
#contents_image_wrapper {
  height: 100%;
  width: 100%;
  position: relative;
}

/* line 528, style.scss */
#contents_image {
  height: 80vh;
  width: 100%;
  position: absolute;
  top: 64px;
  text-align: center;
}

/* line 537, style.scss */
#contents_image ul {
  width: 100%;
  height: 100%;
}
/* line 541, style.scss */
#contents_image ul li {
  width: 100%;
  height: 100%;
  opacity: 0;
  position: absolute;
  top: 0;
}
/* line 548, style.scss */
#contents_image ul li img {
  position: absolute;
  -o-object-fit: contain;
     object-fit: contain;
  max-width: 100%;
  max-height: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

/****************************************

	ARTICLES

****************************************/
/* line 565, style.scss */
#article_wrapper {
  z-index: 99;
  top: 0;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  -webkit-transition: color 2s;
  transition: color 2s;
}

/* line 577, style.scss */
#article_nav {
  position: fixed;
  z-index: 9;
  background-color: white;
  top: 0;
  width: 100%;
  height: 60px;
  text-align: center;
  font-size: 0.89em;
  color: #757575;
  -webkit-transition: color 2s;
  transition: color 2s;
}
/* line 589, style.scss */
#article_nav div {
  display: inline-block;
}
/* line 592, style.scss */
#article_nav #nav_title {
  width: 43.4%;
  height: 100%;
  text-align: center;
  position: relative;
}
/* line 598, style.scss */
#article_nav #nav_title span {
  display: block;
  position: absolute;
  padding-top: 1px;
  top: 15px;
  left: 0;
  right: 0;
}
/* line 608, style.scss */
#article_nav .nav_arrow {
  top: 15px;
  position: absolute;
  width: 24px;
  height: 24px;
  left: 28.3%;
  -webkit-transform: translateX(-60px);
          transform: translateX(-60px);
}
/* line 616, style.scss */
#article_nav .nav_arrow img {
  width: auto;
  height: 100%;
}
/* line 621, style.scss */
#article_nav #nav_right {
  left: inherit;
  right: 28.3%;
  -webkit-transform: translateX(60px);
          transform: translateX(60px);
}

/* line 628, style.scss */
#nav_close, #nav_book_editor {
  position: absolute;
  top: 15px;
  left: 30px;
  width: 24px;
  height: 24px;
}
/* line 634, style.scss */
#nav_close img, #nav_book_editor img {
  width: 100%;
  height: auto;
}

/* line 640, style.scss */
#nav_book_editor {
  left: inherit;
  right: 30px;
}

/****************************************

	ARTICLES

****************************************/
/* line 651, style.scss */
.white .title_wrapper {
  font-family: "News Plantin", serif;
}

/* line 655, style.scss */
.grey {
  background-color: #eee !important;
}

/* line 659, style.scss */
.article_inner_wrapper.grey {
  background-color: transparent !important;
}

/* line 663, style.scss */
.article {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto 160px auto;
  padding-top: 120px;
  position: relative;
}
/* line 670, style.scss */
.article .article_inner_wrapper {
  max-width: 1224px;
  width: calc( 100% - 142px );
  margin: 0 auto;
  position: relative;
  display: none;
}
/* line 678, style.scss */
.article h2 {
  margin-bottom: 52px;
}
/* line 681, style.scss */
.article h4 {
  text-indent: 32px;
  margin-bottom: 24px;
}
/* line 685, style.scss */
.article p {
  margin-bottom: 24px;
}
/* line 688, style.scss */
.article .title_wrapper {
  width: 57.19%;
  margin-bottom: 136px;
}
/* line 691, style.scss */
.article .title_wrapper .author_name {
  font-size: 2em;
}
/* line 695, style.scss */
.article img {
  height: auto;
  margin-top: 40px;
  margin-bottom: 30px;
  -webkit-box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
  -webkit-transition: -webkit-box-shadow 2s;
  transition: -webkit-box-shadow 2s;
  transition: box-shadow 2s;
  transition: box-shadow 2s, -webkit-box-shadow 2s;
}
/* line 702, style.scss */
.article img:hover {
  -webkit-box-shadow: 0px 0px 30px transparent;
          box-shadow: 0px 0px 30px transparent;
}
/* line 705, style.scss */
.article iframe {
  margin-bottom: 60px;
}

/* line 710, style.scss */
.serif {
  font-family: "News Plantin", serif;
}

/* line 714, style.scss */
.sansserif {
  font-family: "Univers", sans-serif;
}

@media (max-width: 1440px) {
  /* line 719, style.scss */
  .article_inner_wrapper {
    width: 90%;
  }
}
@media (max-width: 1280px) {
  /* line 725, style.scss */
  .article_inner_wrapper {
    width: calc( 100% - 76px );
  }
}
/* line 730, style.scss */
.editor_buttons {
  position: absolute;
  height: 100px;
  top: 0px;
  right: 0;
}
/* line 736, style.scss */
.editor_buttons .article_button {
  width: 100px;
  height: 100%;
  margin-left: 24px;
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
}
/* line 744, style.scss */
.editor_buttons .article_button img {
  -webkit-box-shadow: 0px 0px 0px transparent;
          box-shadow: 0px 0px 0px transparent;
  margin-top: 0;
}

/* line 755, style.scss */
.article_footnotes {
  width: 48.53%;
  font-size: 0.78em;
  line-height: 1.57;
  margin-top: 136px;
}
/* line 761, style.scss */
.article_footnotes ul {
  list-style-type: decimal;
  margin-left: 16px;
}
/* line 764, style.scss */
.article_footnotes ul li {
  padding-left: 4.29%;
}
/* line 768, style.scss */
.article_footnotes a {
  color: black;
  border-bottom: 1px solid black;
}

/* line 775, style.scss */
.article_template_1 p {
  width: 57.19%;
  margin-left: 8.57%;
}
/* line 780, style.scss */
.article_template_1 h2, .article_template_1 h4 {
  margin-left: 8.57%;
}
/* line 783, style.scss */
.article_template_1 img, .article_template_1 .caption {
  width: 65.68%;
  margin-left: 17.16%;
}
/* line 787, style.scss */
.article_template_1 img.portrait {
  width: 42.89%;
  margin-left: 28.56%;
}
/* line 791, style.scss */
.article_template_1 .caption_vertical {
  width: 42.89%;
  margin-left: 28.56%;
}

/* line 804, style.scss */
.article_template_2 p, .article_template_2 h2, .article_template_2 h4 {
  width: 65.68%;
  margin-left: 17.16%;
}
/* line 808, style.scss */
.article_template_2 img, .article_template_2 .caption {
  width: 82.84%;
  margin-left: 8.57%;
}
/* line 812, style.scss */
.article_template_2 img.portrait {
  width: 48.53%;
  margin-left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

/* line 821, style.scss */
.article_template_3 .text_wrapper {
  width: 48.53%;
  margin-left: 0;
  display: inline-block;
  white-space: normal;
}
/* line 828, style.scss */
.article_template_3 .image_wrapper {
  display: inline-block;
  vertical-align: top;
  width: 48.53%;
  margin-left: 2.94%;
}
/* line 834, style.scss */
.article_template_3 .image_wrapper img {
  width: 100%;
  height: auto;
}

/* line 842, style.scss */
.article_template_4 .interview_left, .article_template_4 .interview_right {
  display: block;
  width: 57.19%;
  margin-bottom: 24px;
}
/* line 846, style.scss */
.article_template_4 .interview_left img, .article_template_4 .interview_right img {
  width: 100%;
}
/* line 849, style.scss */
.article_template_4 .interview_left img.portrait, .article_template_4 .interview_right img.portrait {
  width: 69.96%;
}
/* line 853, style.scss */
.article_template_4 .interview_right {
  margin-left: 42.89%;
}
/* line 856, style.scss */
.article_template_4 img {
  width: 57.19%;
}
/* line 859, style.scss */
.article_template_4 img.portrait {
  width: 42.89%;
}

/* line 864, style.scss */
.article_template_5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
/* line 869, style.scss */
.article_template_5 .mtd_column iframe {
  width: 100%;
  -webkit-transition: height 0.5s;
  transition: height 0.5s;
}

/* line 882, style.scss */
.article_template_6 iframe {
  width: 100%;
  margin-left: 0;
}

/* line 888, style.scss */
.caption, .caption_vertical {
  margin-top: -10px;
  font-family: "Univers", sans-serif;
  font-size: 0.78em;
  color: #757575;
  margin-bottom: 64px;
  display: block;
}

/* line 897, style.scss */
.glyph {
  font-family: "stix", serif;
}

/* line 901, style.scss */
.comment {
  display: block;
  font-family: "Univers", sans-serif;
  font-size: 0.78em;
  color: #757575;
}

/* line 908, style.scss */
.quote {
  display: block;
  margin-left: 8.57%;
}

/* line 914, style.scss */
.text_indent {
  display: block;
  text-indent: 4.29%;
}

/* line 919, style.scss */
.large_text {
  display: block;
  font-size: 1.44em;
  line-height: 1.3;
}

/* line 925, style.scss */
.list_one, .list_two, .large_list {
  display: block;
}
/* line 928, style.scss */
.list_one span, .list_two span, .large_list span {
  display: inline-block;
  vertical-align: top;
}
/* line 933, style.scss */
.list_one .list_marker, .list_two .list_marker, .large_list .list_marker {
  width: 4.29%;
}
/* line 936, style.scss */
.list_one .list_content, .list_two .list_content, .large_list .list_content {
  width: 92%;
}

/* line 942, style.scss */
.list_two {
  display: block;
  margin-left: 4.29%;
}

/* line 947, style.scss */
.large_list {
  display: block;
  font-size: 1.44em;
  line-height: 1.3;
}
/* line 951, style.scss */
.large_list .list_marker {
  width: 8.57%;
}
/* line 954, style.scss */
.large_list .list_content {
  width: 91%;
  margin-left: -8px;
}

/* line 958, style.scss */
 
.stix_symbols {
  font-family: 'stix';
}

/* line 964, style.scss */
.stix_symbols_large {
  font-family: 'stix';
  font-size: 2.88em;
}

/* line 969, style.scss */
.after_wingdings {
  display: block;
  padding-left: 30px;
  position: relative;
}
/* line 973, style.scss */
.after_wingdings .wingdings {
  display: inline-block;
  height: 18px;
  width: 18px;
  position: absolute;
  margin-top: 2px;
  left: 0;
}
/* line 981, style.scss */
.after_wingdings .wingdings img {
  -webkit-box-shadow: none;
          box-shadow: none;
  height: 60%;
  width: auto;
  vertical-align: top;
  margin-top: 4px;
}

/* line 992, style.scss */
.large_text .wingdings {
  height: 24px;
  width: 24px;
  margin-top: 3px;
}

/****************************************

	LIGHTBOX

****************************************/
/* line 1008, style.scss */
#lightbox_bg {
  position: fixed;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  display: none;
}

/* line 1019, style.scss */
#lightbox_close {
  position: fixed;
  top: 36px;
  right: 36px;
  width: 48px;
  height: 48px;
  z-index: 999;
  cursor: pointer;
  display: none;
}
@media (max-width: 800px), (max-height: 600px) {
  /* line 1019, style.scss */
  #lightbox_close {
    top: 18px;
    right: 18px;
    width: 32px;
    height: 32px;
  }
}
/* line 1035, style.scss */
#lightbox_close img {
  width: 100%;
  height: 100%;
}

/* line 1041, style.scss */
#lightbox_inner_wrapper {
  position: fixed;
  z-index: 9999;
  width: 67%;
  height: 80%;
  top: 10%;
  left: 16.7%;
  text-align: center;
  display: none;
}
@media (max-width: 600px) {
  /* line 1041, style.scss */
  #lightbox_inner_wrapper {
    width: 80%;
    left: 10%;
  }
}
/* line 1055, style.scss */
#lightbox_inner_wrapper .image {
  max-height: 100%;
  max-width: 100%;
  position: absolute;
  cursor: pointer;
  -webkit-transition: width 0.5s, height 0.5s, opacity 1s;
  transition: width 0.5s, height 0.5s, opacity 1s;
}
/* line 1062, style.scss */
#lightbox_inner_wrapper .landscape {
  width: 100%;
  height: auto;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
/* line 1069, style.scss */
#lightbox_inner_wrapper .portrait {
  height: 100%;
  width: auto;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

/****************************************

	EDITOR

****************************************/
/* line 1083, style.scss */
#editor_top_bar {
  text-align: center;
  width: 50%;
  height: 60px;
  position: relative;
}
/* line 1090, style.scss */
#editor_top_bar div {
  margin-top: 20px;
}
/* line 1094, style.scss */
#editor_top_bar #editor_close {
  position: absolute;
  left: 12px;
}

/* line 1100, style.scss */
#editor_wrapper {
  background-color: white;
  position: absolute;
  top: 0;
  z-index: 999;
  width: 100%;
  min-height: 100vh;
}
/* line 1108, style.scss */
#editor_wrapper .content_wrapper {
  padding-top: 32px;
}
/* line 1111, style.scss */
#editor_wrapper .content_wrapper .mtd_column h2 {
  margin-bottom: 48px;
}
/* line 1114, style.scss */
#editor_wrapper .content_wrapper .mtd_column .list_one {
  margin-bottom: 20px;
}
/* line 1119, style.scss */
#editor_wrapper #editor_video {
  position: fixed;
  top: 0;
  right: 0;
  width: 50%;
  height: 100vh;
  background-color: #333;
}

/* line 1130, style.scss */
#editor_button_wrapper {
  height: 100px;
  width: 100%;
  text-align: center;
  margin-bottom: 72px;
}
/* line 1135, style.scss */
#editor_button_wrapper #editor_button {
  width: 100px;
  height: 100%;
  display: inline-block;
}

/* line 1143, style.scss */
#editor_articles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

/* line 1149, style.scss */
.editor_article {
  border: 1px solid black;
  background-color: white;
  width: calc( 50% - 18px );
  margin-bottom: 36px;
  -webkit-transition: -webkit-box-shadow 2s;
  transition: -webkit-box-shadow 2s;
  transition: box-shadow 2s;
  transition: box-shadow 2s, -webkit-box-shadow 2s;
  position: relative;
}
/* line 1156, style.scss */
.editor_article p {
  margin: 26px 16px 12px 16px;
}
/* line 1159, style.scss */
.editor_article p:last-child {
  margin: 0px 16px 24px 16px;
}
/* line 1162, style.scss */
.editor_article .editor_article_close {
  position: absolute;
  top: 6px;
  right: 6px;
  width: 24px;
  height: 24px;
}
/* line 1168, style.scss */
.editor_article .editor_article_close img {
  width: 100%;
  height: 100%;
}

/* line 1175, style.scss */
.editor_article:hover {
  -webkit-box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
}

/* line 1179, style.scss */
.sortable-placeholder {
  border: 2px dashed #757575;
  display: block;
  width: calc( 50% - 18px );
}
